/* .container{
    margin: 5px;
    padding: 5px;
    background-color: #131112;
    color:#F7EBE8;
    border: 3px solid #279AF1;
    
    border-radius: 4px;
    
    
    height: 650px;
    width: 750px;
    
}

.encabezado{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
} */